<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Aluno</title>
</head>
<body>
    <h1>Inserir Aluno</h1>
    <form action="/inserir" method="POST">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome"><br>
        <label for="curso">Curso:</label><br>
        <input type="text" id="curso" name="curso"><br>
        <label for="data_nascimento">Data de Nascimento:</label><br>
        <input type="text" id="data_nascimento" name="data_nascimento"><br><br>
        <input type="submit" value="Inserir">
    </form>
    <li><a href="/">Home</a></li>
</body>
</html>
